.book-shelf {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

#book-shelf {
  max-width: 1000px;
  margin: 0 auto;
}

#stats-container {
  display: inline-block;
  padding-top: 15px;
  font-size: 1.2em;
}

.ais-hits--item {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 300px;
  width: 200px; 
  margin: 8px;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}


