.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 40px;
  margin-left: 20px;
  max-width: 600px;
}

td {
  padding: 3px 5px 3px 5px;
}

img {
  max-height: 250px;
  width: auto;
}

@media screen and (max-width: 460px) {
  .summary-section {
    display: block;
  }
  
  img {
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  
  table {
    display: block;
    padding-left: 15px;
  }
}

.header {
  background-color: lightgray;
  text-align: left;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.book-container {
  padding: 30px;
  max-width: 750px;
  margin: 0 auto;
}