.book-shelf {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

#book-shelf {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

#stats-container {
  display: inline-block;
  padding-top: 15px;
  font-size: 1.2em;
}




