.search-box{
  margin: 10px 20px 10px 20px;
}

.ais-search-box {
  display: inline;
}

.ais-hits--item {
  height: 300px;
  width: 200px; 
  margin: 8px;
}

.search-results {
  max-width: 960px;
  margin: 0 auto;
}

#search-input {
  padding: 7px;
  width: 60%;
  border-radius: 10px; 
  display: absolute;
}

#stats-container {
  display: inline-block;
  float: right;
  padding-top: 7px;
}

