td {
  padding: 3px 5px 3px 5px;
}

img {
  max-height: 250px;
  width: auto;
}

.header {
  background-color: lightgray;
  text-align: left;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.container {
  padding: 30px;
}

.summary-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 40px;
  margin-left: 20px;
  max-width: 600px;
}

.details-section {
  
}

.content-section {
}