.hero {
  background-color: #04573B;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #F1F5E3;
  margin: 0 auto;
}

.hero-items {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h2 {
  margin-top: 0px;
  font-weight: normal;
}

.title {
  width: 50%;
}

.title > h1 {
  margin-top: 0px;
  color: #F1F5BA;
}

.search-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#search-input {
  padding: 7px;
  width: 90%;
  border-radius: 7px; 
  display: absolute;
  min-height: 30px;
  font-size: 1.3em;
  font-family: 'Arima Madurai', cursive;
  padding-bottom: 0px;
}


@media screen and (max-width: 900px) {
  .hero-items {
    display: block;
    text-align: center;
  }

  .title {
    width: 100%;
  }

  .search-box {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  h1 { font-size: 1.3em; }
  h2 { font-size: 1em; }
  .ais-stats--body { font-size: .7em; }
}
